<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <?php

		$restaurant = $_GET['restaurant'];

		echo "<title>Reviews - ".$restaurant."</title>";
  	?>
  	<style>
			#pos{
				position: relative;
			}
			body {
			font-size: .875rem;
			}
	/*
	* Sidebar
	*/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

	</style>
	
  </head>
<body>
	<nav class="navbar navbar-expand-lg bg-light" id="header" th:fragment="header" height= "50px">
		<a class="navbar-brand" href="foodlergy.html" id="navbarImg"><img src="logo.png" height="50px"></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="#">Profile</a>
                            <a class="dropdown-item" th:href="@{/logout}">My Reviews</a>
                            <a class="dropdown-item" th:href="#">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

	<div class="column" id="pos">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
				<h3 class="justify-content-between align-items-center px-3 mt-5 mb-1 text-muted">
              		<?php echo $restaurant ?>
				</h3>
				<?php
					require_once("config.php");
					require_once("reviews.html");
						$connString = "mysql:host=" . DBHOST . ";dbname=" . DBNAME;
						$user = DBUSER;
						$pass = DBPASS;
						$count = 0;

						$pdo = new PDO($connString, $user, $pass);

						$Restaurant = $_GET['restaurant'];
		
						$sql = "SELECT * FROM Restaurant INNER JOIN Review ON Restaurant.ID = Review.RestaurantID WHERE Restaurant.Name like '%$Restaurant%' ORDER BY Review.ReviewID DESC;";

						$result = $pdo->query($sql);

						$count = $result->rowCount();

						$row = $result->fetch();

						echo "<p class=\"sidebar-heading d-flex justify-content-between align-items-center px-3 text-muted\">".$row[3]."<br>".$row[4].", ".$row[5]."</p>";
						echo "<p class=\"text-dark sidebar-heading d-flex px-3 phone\">".$row[2]."</p>";
						echo "<p class=\"text-dark sidebar-heading d-flex px-3\"> HOURS: </p>";
						$hours = explode(" ", $row[7]);
						for ($i = 0; $i<(count($hours)-1); $i=$i+2){
							echo "<p class=\"text-dark sidebar-heading px-3 hours\">".$hours[$i]." ".$hours[$i+1]."</p>";
						}


					$pdo = null;

				?>
            </div>
        </nav>
      </div>
    </div>
    <div class="col ml-sm-auto col-lg-10 pt-5 px-4">
    	<div class="row">
    	<div class="col">

          <h2>Reviews</h2>
      </div>
      <div class="col float-right">
      	<?php
      		echo "<form class=\"float-right\" action=\"addreview.html\" width=\"125px\" float=\"right\" style=\"float: right\">";
      	?>
                <div class="form-group">
                    <input class="btn btn-primary btn-block" name = "addreview" type="submit" value="Add a Review"/>
                </div>
            </form>
        </div>
    </div>

		  
		  <div class="my-3 p-3 bg-white rounded box-shadow">

		  	<?php
		  			require_once("config.php");
					require_once("reviews.html");
						$connString = "mysql:host=" . DBHOST . ";dbname=" . DBNAME;
						$user = DBUSER;
						$pass = DBPASS;
						$count = 0;
						$stars = "";

						$pdo = new PDO($connString, $user, $pass);

						$Restaurant = $_GET['restaurant'];
		
						$sql = "SELECT * FROM Restaurant INNER JOIN Review ON Restaurant.ID = Review.RestaurantID INNER JOIN User ON Review.UserID = User.UserID WHERE Restaurant.Name like '%$Restaurant% ORDER BY Review.ReviewID DESC';";

						$result = $pdo->query($sql);
		  				while($row=$result->fetch()){
		  					echo "<hr>";
		  					echo "<div class=\"text-muted pt-3\">";
		  							echo "<strong class=\"d-block text-gray-dark\"><p class=\"text-info user\" style=\"font-size:1rem\">".$row[17]." ".$row[18].", ".$row[22]." allergy</p></strong>";
		  							$stars = "";
		  							for($i = 0; $i<$row[13]; $i++){
		  								$stars = $stars."&#9733";
		  							}
		  							echo "Overall Experience: ".$stars."<br>";
		  							$stars = "";
		  							for($i = 0; $i<$row[14]; $i++){
		  								$stars = $stars."&#9733";
		  							}
		  							echo "Allergy Experience: ".$stars."<br>";
		  							echo "<span class=\"rate\"></span><br/>";
		  							echo "<p>".$row[15]."</p>";
		  						echo "</p>";
		  					echo "</div>";
		  				}
		  		?>
		<hr>
	</div>
</div>


</body>
</html>
