h1{
    text-align: center;
    padding-top: 25px;
    font-size: 50px;
    padding-bottom: 5px;
}

.needs-validation{
    padding-left: 10%;
    padding-right: 10%;
}

.form-row{
    padding-top: none;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5px;
}

.top-rows{
    width: 50%;
    padding-right: 5px;
}

.bottom-row{
    width: 100%;
    padding-right: 5px;
}

.stars{
    text-align: left;
}

nav{
    margin: 0px;
}

#header {
    margin-bottom: 30px;
}

#header-logo {
    display: inline-block;
    height: 35px;
    width: auto;
}

#auth-form {
    width: 400px;
}

#auth-form img {
    width: 85%;
}

#auth-form form {
    margin-top: 2px;
    display: block;
}

#auth-form p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.row {
    overflow: hidden;
    padding: 5px;
}

.col {
    float: left;
    padding-left: 5px;
    text-align: center;
}

input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    vertical-align: top;
    padding-left: 5px;
}

.label-text {
  display: inline-block;
  width: 200px;
  word-break: break-all; 
}

            #pos{
                position: relative;
            }
            body {
            font-size: .875rem;
            }
    /*
    * Sidebar
    */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}
.sidebar .nav-link.active {
  color: #007bff;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}
.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


